/* main tables  */
.main-table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
.main-table th, table td {
  padding: 8px;
  text-align: left;
  border: 0.5px solid #6b6969;
  background: WHITE;
  }
  
.main-table th {
    background-color: #b3adad;
    font-weight: bold;
  }
  
.main-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
.mian-table tr:hover {
    background-color: #ddd;
  }